@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

:root {
	--bg-main: #F4EFE2;
	--bg-second: #E8D8B5;
	--text-main: #3D2C1E;
	--text-light: #FFF8EA;
	--wood: #8B5A2B;
	--wood-dark: #5C3A21;
	--gold: #D9A441;
	--gold-dark: #B67E22;
	--leaf: #5E8C31;
	--leaf-dark: #3F6620;
	--metal: #8C929A;
	--border: #B88A54;

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body, div, p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Stick", sans-serif;
}

html {
	background-color: var(--bg-main);
	color: var(--text-main);
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.decor {
	font-family: "Stick", sans-serif;
}

header {
	background-color: var(--wood-dark);
	padding: 0.5rem;
}

header img {
	display: block;
	margin: auto;
	/* width: 30%; */
	height: 5rem;
}

#content {
	flex: 1;
	display: flex;
	flex-direction: row;
}

nav {
	background-color: var(--bg-second);
	/* padding: 1rem; */
}

nav a {
	display: block;
	color: var(--text-main);
	font-weight: 700;
	text-decoration: none;
	padding: 1rem 1.5rem;
	transition: .3s;
}

nav a:hover {
	background-color: #0000000F;
	transition: .3s;
}

main {
	padding: 3rem;
	text-align: justify;
	max-width: 100ch;
	margin: 0 auto;
}

main p {
	margin-top: 1.5rem;
}

main img {
	display: block;
	text-align: center;
	max-height: 60ch;
	margin: 0 auto
}

li {
	margin-top: .5rem;
}

.blog {
	display: flex;
	flex-direction: row;
	background-color: var(--bg-second);
	padding: 1rem;
	margin-bottom: 2rem;
}

.blog img {
	display: block;
	width: 30%;
	align-self: flex-start;
	margin-right: 2rem;
}

.blog h3 {
	color: var(--leaf-dark);
	text-align: left;
}

.blog .info {
	color: var(--wood);
}

footer {
	background-color: var(--wood-dark);
	color: var(--text-light);
	padding: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%
}
